<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728911800770-e08scvj41vqol67i1k4u16oklhs7njb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728911800770-e08scvj41vqol67i1k4u16oklhs7njb4</string>
	<key>API_KEY</key>
	<string>AIzaSyChueiY6v-ZUvwbbVJtlwymfYwxGUIJ8c4</string>
	<key>GCM_SENDER_ID</key>
	<string>728911800770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GlobalTRGame.Biyoloji</string>
	<key>PROJECT_ID</key>
	<string>e-loopsakademi-biyoloji</string>
	<key>STORAGE_BUCKET</key>
	<string>e-loopsakademi-biyoloji.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728911800770:ios:e56b7857a659d540210e5b</string>
</dict>
</plist>